<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Cinematography.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
<script>
        function changeValue() {
  document.getElementById("findby").value = document.getElementById("option").value;
}


$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});


</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark font-weight-bold">
    <a class="navbar-brand" href="Home.html">CINEMATOGRAPHY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mt-2 mr-2"><a class="text-white"  title="" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Search for your favourite movies and get complete information of that movie.">About</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Edit Profile</a></li>
            <li>
                <form th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout" class="btn btn-dark text-white font-weight-bold"/>
                </form>

            </li>
        </ul>
    </div>
</nav>
<div class="d-flex mt-3">
    <div class="ml-auto mr-3">
        User-Id: <span  th:text=" ${user.id}"/><br>
        Name: <span  th:text=" ${user.firstName}"/>
    </div>
</div>
<div class="d-flex" style="margin-top: -35px;">
    <div class="col-6 offset-3 mt-5 pt-2 pl-5">
        <form th:action="@{/home/listmovies}" method="GET">
            <label class="note ml-5 pl-5 mb-3">Search for your favourite actors and movies. </label>
            <div class="ml-5 mb-3">
                Search by
                <input type="hidden" th:name="findby" id="findby"/>
                <select class="ml-2" onchange="changeValue()" id="option">
                    <option value="all">All</option>
                    <option value="actor"> Actor</option>
                    <option value="genre">Genre</option>
                    <option value="language">Language</option>
                    <option value="movie">Movie</option>
                    <option value="year">Year</option>
                </select>
                <input th:oninput="@{/home/listmovies}" class="ml-2" type="text" th:name="keyword"
                       placeholder="Enter text">
                <button class="ml-2" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr class="font-weight-bold">

                <th>Movie</th>
                <th>Language</th>
                <th>Year</th>
                <th>Genre</th>
            </tr>
            </thead>

            <tbody class="overflow-auto">
            <tr class="f-15" th:each="tempUserMovie : ${movies}">

                <td th:text="${tempUserMovie.movieName}"/>
                <td th:text="${tempUserMovie.language}"/>
                <td th:text="${tempUserMovie.year}"/>
                <td th:text="${tempUserMovie.genre}"/>

            </tr>

            </tbody>
        </table>
    </div>
</div>
<footer class="page-footer fixed-bottom bg-dark font-weight-bold">
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
        <a class="text-white" href="#"> ZemosoLabs</a>
    </div>
</footer>
</body>
</html>

